@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-text {
      background-size: 300%;
      animation: moveGradient 3s ease infinite;
  }
  @keyframes moveGradient {
      0% {
          background-position: 0%;
      }
      100% {
          background-position: 100%;
      }
  }
}
